POSTGRES_NAME=postgres
POSTGRES_HOST=db
POSTGRES_USER=user-name
POSTGRES_PASSWORD=user-password
POSTGRES_PORT=5432

JWT_SECRET_KEY=user-secret-key

GROQ_API_KEY=visit here to get a GROQ API KEY https://console.groq.com/keys

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

BASE_URL=localhost for local/ web for docker

PROFILING=FALSE

DEBUG=FALSE

TESTING=FALSE